body{
    background-color: rgb(174, 239, 34);
    display: grid;
    place-items: center;
    padding: 15%;
}

button{
    border-radius: 70%;
    font-size: 100%;
    padding: 10px;
}

.calculadora{
    background-color: aqua;
    display: grid;
    place-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
}